Concesionaria-Colcar-CXF/WebContent/wsdl/concesionariacolcarws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ConcesionariaColcarWSService" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://ws.das.ubp.edu.ar/" xmlns:tns="http://ws.das.ubp.edu.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ejemplo" type="tns:ejemplo"/>
  <xs:element name="ejemploResponse" type="tns:ejemploResponse"/>
  <xs:element name="getClienteParticular" type="tns:getClienteParticular"/>
  <xs:element name="getClienteParticularResponse" type="tns:getClienteParticularResponse"/>
  <xs:element name="getClientes" type="tns:getClientes"/>
  <xs:element name="getClientesResponse" type="tns:getClientesResponse"/>
  <xs:element name="notificarGanador" type="tns:notificarGanador"/>
  <xs:element name="notificarGanadorResponse" type="tns:notificarGanadorResponse"/>
  <xs:element name="verificarCancelado" type="tns:verificarCancelado"/>
  <xs:element name="verificarCanceladoResponse" type="tns:verificarCanceladoResponse"/>
  <xs:complexType name="getClientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClientesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClienteParticular">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getClienteParticularResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCancelado">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCanceladoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificarGanador">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element minOccurs="0" name="arg2" type="xs:string"/>
      <xs:element minOccurs="0" name="arg3" type="xs:string"/>
      <xs:element minOccurs="0" name="arg4" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificarGanadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ejemplo">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="ejemploResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getClientesResponse">
    <wsdl:part name="parameters" element="tns:getClientesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClienteParticularResponse">
    <wsdl:part name="parameters" element="tns:getClienteParticularResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClienteParticular">
    <wsdl:part name="parameters" element="tns:getClienteParticular">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verificarCancelado">
    <wsdl:part name="parameters" element="tns:verificarCancelado">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="verificarCanceladoResponse">
    <wsdl:part name="parameters" element="tns:verificarCanceladoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejemplo">
    <wsdl:part name="parameters" element="tns:ejemplo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getClientes">
    <wsdl:part name="parameters" element="tns:getClientes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notificarGanadorResponse">
    <wsdl:part name="parameters" element="tns:notificarGanadorResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ejemploResponse">
    <wsdl:part name="parameters" element="tns:ejemploResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notificarGanador">
    <wsdl:part name="parameters" element="tns:notificarGanador">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ConcesionariaColcarWS">
    <wsdl:operation name="getClientes">
      <wsdl:input name="getClientes" message="tns:getClientes">
    </wsdl:input>
      <wsdl:output name="getClientesResponse" message="tns:getClientesResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClienteParticular">
      <wsdl:input name="getClienteParticular" message="tns:getClienteParticular">
    </wsdl:input>
      <wsdl:output name="getClienteParticularResponse" message="tns:getClienteParticularResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verificarCancelado">
      <wsdl:input name="verificarCancelado" message="tns:verificarCancelado">
    </wsdl:input>
      <wsdl:output name="verificarCanceladoResponse" message="tns:verificarCanceladoResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="notificarGanador">
      <wsdl:input name="notificarGanador" message="tns:notificarGanador">
    </wsdl:input>
      <wsdl:output name="notificarGanadorResponse" message="tns:notificarGanadorResponse">
    </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejemplo">
      <wsdl:input name="ejemplo" message="tns:ejemplo">
    </wsdl:input>
      <wsdl:output name="ejemploResponse" message="tns:ejemploResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConcesionariaColcarWSServiceSoapBinding" type="tns:ConcesionariaColcarWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getClientes">
      <soap:operation soapAction="urn:GetClientes" style="document"/>
      <wsdl:input name="getClientes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClientesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getClienteParticular">
      <soap:operation soapAction="urn:GetClienteParticular" style="document"/>
      <wsdl:input name="getClienteParticular">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getClienteParticularResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="verificarCancelado">
      <soap:operation soapAction="urn:VerificarCancelado" style="document"/>
      <wsdl:input name="verificarCancelado">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="verificarCanceladoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="notificarGanador">
      <soap:operation soapAction="urn:NotificarGanador" style="document"/>
      <wsdl:input name="notificarGanador">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="notificarGanadorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ejemplo">
      <soap:operation soapAction="urn:Ejemplo" style="document"/>
      <wsdl:input name="ejemplo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ejemploResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConcesionariaColcarWSService">
    <wsdl:port name="ConcesionariaColcarWSPort" binding="tns:ConcesionariaColcarWSServiceSoapBinding">
      <soap:address location="http://localhost:8160/Concesionaria-Colcar-CXF/services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
