Concesionaria-Tagle-AXIS/WebContent/wsdl/ClientesWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.das.ubp.edu.ar" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.das.ubp.edu.ar" xmlns:intf="http://ws.das.ubp.edu.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.das.ubp.edu.ar" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="notificarGanador">
    <complexType>
     <sequence>
      <element name="idConcesionaria" type="xsd:string"/>
      <element name="dniCliente" type="xsd:string"/>
      <element name="nombreApellido" type="xsd:string"/>
      <element name="emailCliente" type="xsd:string"/>
      <element name="fechaSorteo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="notificarGanadorResponse">
    <complexType>
     <sequence>
      <element name="notificarGanadorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="verificarCancelado">
    <complexType>
     <sequence>
      <element name="dniCliente" type="xsd:string"/>
      <element name="idPlan" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="verificarCanceladoResponse">
    <complexType>
     <sequence>
      <element name="verificarCanceladoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCuentasClientes">
    <complexType/>
   </element>
   <element name="getCuentasClientesResponse">
    <complexType>
     <sequence>
      <element name="getCuentasClientesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="notificarGanadorResponse">

      <wsdl:part element="impl:notificarGanadorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCuentasClientesResponse">

      <wsdl:part element="impl:getCuentasClientesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verificarCanceladoResponse">

      <wsdl:part element="impl:verificarCanceladoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="notificarGanadorRequest">

      <wsdl:part element="impl:notificarGanador" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="verificarCanceladoRequest">

      <wsdl:part element="impl:verificarCancelado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCuentasClientesRequest">

      <wsdl:part element="impl:getCuentasClientes" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ClientesWS">

      <wsdl:operation name="notificarGanador">

         <wsdl:input message="impl:notificarGanadorRequest" name="notificarGanadorRequest">

       </wsdl:input>

         <wsdl:output message="impl:notificarGanadorResponse" name="notificarGanadorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verificarCancelado">

         <wsdl:input message="impl:verificarCanceladoRequest" name="verificarCanceladoRequest">

       </wsdl:input>

         <wsdl:output message="impl:verificarCanceladoResponse" name="verificarCanceladoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCuentasClientes">

         <wsdl:input message="impl:getCuentasClientesRequest" name="getCuentasClientesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCuentasClientesResponse" name="getCuentasClientesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClientesWSSoapBinding" type="impl:ClientesWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="notificarGanador">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="notificarGanadorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="notificarGanadorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="verificarCancelado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="verificarCanceladoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="verificarCanceladoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCuentasClientes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCuentasClientesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCuentasClientesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClientesWSService">

      <wsdl:port binding="impl:ClientesWSSoapBinding" name="ClientesWS">

         <wsdlsoap:address location="http://localhost:8080/Concesionaria-Tagle-AXIS/services/ClientesWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
